  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f0f0f;
  color: white;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Profile */
.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-bottom: 15px;
}

.profile h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.profile p {
  font-size: 16px;
  margin-bottom: 6px;
  color: #ccc;
}

/* Button */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background: #00c3ff;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

/* Menu Buttons */
.menu {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu a {
  padding: 10px 18px;
  background: #222;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.3s;
}

.menu a:hover {
  background: #00c3ff;
  color: black;
}

/* Section */
.section {
  background: #1b1b1b;
  margin: 20px;
  padding: 40px 20px;
  border-radius: 12px;
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.section h2 {
  color: #00c3ff;
  margin-bottom: 15px;
}

.section h3 {
  margin-top: 20px;
  color: yellow;
}

.section p, .section li {
  font-size: 16px;
  line-height: 1.7;
  color: #ddd;
}

.section ul {
  padding-left: 20px;
}

/* Links */
a {
  color: #00c3ff;
}

/* Footer */
footer {
  padding: 20px;
  font-size: 14px;
  color: #aaa;
}
