{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
}

body {
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
color: white;
}

/* HERO SECTION */
.hero {
text-align: center;
padding: 80px 20px;
}

.hero img {
width: 150px;
border-radius: 50%;
border: 4px solid #ff6b35;
box-shadow: 0 0 20px #ff6b35;
margin-bottom: 20px;
}

.hero h1 {
font-size: 32px;
}

.typing {
color: #ff6b35;
margin-top: 10px;
font-weight: 500;
}

/* BUTTON */
.btn {
display: inline-block;
margin-top: 20px;
padding: 10px 25px;
background: #ff6b35;
color: black;
text-decoration: none;
border-radius: 25px;
font-weight: bold;
transition: 0.3s;
}

.btn:hover {
background: white;
transform: scale(1.05);
}

/* NAVBAR */
nav {
text-align: center;
background: rgba(0,0,0,0.4);
padding: 15px;
}

nav a {
color: white;
margin: 0 12px;
text-decoration: none;
font-weight: 500;
transition: 0.3s;
}

nav a:hover {
color: #ff6b35;
}

/* SECTION */
section {
padding: 60px 20px;
text-align: center;
}

section h2 {
margin-bottom: 30px;
font-size: 26px;
}

/* CARD */
.card {
background: rgba(255,255,255,0.08);
margin: 20px auto;
padding: 25px;
border-radius: 15px;
max-width: 600px;
transition: 0.3s ease;
}

.card:hover {
transform: translateY(-5px);
box-shadow: 0 0 20px #ff6b35;
}

/* CONTACT LINKS */
#contact a {
color: #ff6b35;
text-decoration: none;
}.



